/*
colours:
teal - #03FFFA
purple - #260D40
pink - #BF267A
yellow - #FFD62A
white - #ECEBEB
light grey - #CECECE
mid grey - #A7A5A6
dark grey - #454345
charcoal - #292728
*/

// $bg-color: #011F26;
// $title-color:#72E5F2;
// $highlight: #F25C05;
// $base: #0CC8F2;
// $dark-teal: #035159;

$teal: #03FFFA;
$purple: #260D40;
$pink: #BF267A;
$yellow: #FFD62A;
$white: #ECEBEB;
$light-grey: #CECECE;
$mid-grey: #A7A5A6;
$dark-grey: #454345;
$charcoal: #292728;

.diagonallongline
{
    padding:0px;
    margin-left:-7px;
}