$teal: #03FFFA;
$purple: #260D40;
$pink: #BF267A;
$yellow: #FFD62A;
$white: #ECEBEB;
$light-grey: #CECECE;
$mid-grey: #A7A5A6;
$dark-grey: #454345;
$charcoal: #292728;

.container
{
    display:flex;
    width:900px;
    height:550px;
}

.bgcontainer
{
    width: 900px;
    height:550px;
    margin-top:10px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.contentcontainer
{
    display:flex;
    justify-content:flex-start;
    width:900px;
    height:550px;
    position:relative;
}
.backgroundshapescontainer
{
    margin-right: -10px;
    width:900px;
    height:550px;
    overflow:hidden;
    z-index:19;
    position:absolute;
}

.backgroundshapecircle
{
    float: left;
    width: 700px;
    height: 700px;
    margin-left:410px;
    margin-top:-75px;
    shape-outside: circle();
    clip-path: circle();
    background: white;
    z-index:0;
}

.thecontent
{
    display:flex;
    flex-direction: column;
    margin-top: 72px;
    margin-left:40px;
    flex:0 0 300px
}

.thespacer
{
    display:flex;
    color:red;
    flex-direction:column;
    flex-grow:1;
}

.thelist
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    flex: 0 0 300px;
    margin-right: -7px;
    margin-top: 70px;
}

.listitems
{
    padding-top:10px;
}

.col
{
    display:flex;
    flex-direction: row;
    align-items:stretch;
    padding-top:10px;
    cursor:pointer;
}

.therow
{
    display:flex;
    justify-content:center;
    padding-right:20px;
    z-index:20
}

.pretitle
{
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    margin-bottom: auto;
    z-index: 100;       
    font-size:1rem;
}

.title
{
    margin-top: auto; 
    font-size:3rem;
    margin-top:-5px;
}

.menugroup
{
    margin-top:-56px;
}

.menuitem
{
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    font-size:1rem;
    padding-left:20px;
    padding-top:14px;
    cursor:pointer;
    color:black;
}

.disabledButton
{
    color:$yellow;
}

.cssfix
{
    display:flex;
    text-align:left;
    white-space: pre-wrap;
    margin-top: -30px;
}