$teal: #03FFFA;
$purple: #260D40;
$pink: #BF267A;
$yellow: #FFD62A;
$white: #ECEBEB;
$light-grey: #CECECE;
$mid-grey: #A7A5A6;
$dark-grey: #454345;
$charcoal: #292728;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.container
{
    width:100%;
    height:547px;
}
.contentarea
{
    display:flex;
    flex-direction:row;
    height:110px;
}
.module2col2
{
    display:flex;
    flex-direction:column;
    flex:1;
    margin-top:10px;
}
.contenttitle
{
    display: flex;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1rem;
    color:$charcoal;
    text-align:left;
}
.contentbody
{
    display: flex;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 0.875rem;
    color:$charcoal;
    text-align:left;
}